<div class="profile-header row">
  <div class="col-sm-1"></div>
  <div class="profile-image text-center col-sm-1">
   <% if user.image.attached? %>
      <%= image_tag user.image.variant(resize:"100x100"), class:"image-radius" %>
    <% else %>
      <%= image_tag "noimage.png", size: "100x100", class:"image-radius" %>
    <% end %>
  </div>
  <div class="profile-name col-sm-4 d-flex align-items-center ms-5 row">
    <p class="fs-2"><%= user.name %></p>
      <p class="fs-5"><%= user.email %></p>
  </div>
</div>
<div class="profile-main">
  <div class="profile-left pt-5">
    <div class="my-relationship p-3">
      <div class="col-sm-1"></div>
      <div class="my-relationship-follow col-sm-2">
        <p >フォロー中</p>
        <p><%= user.followings.count %>人</p>
      </div>
      <div class="col-sm-1"></div>
      <div class="my-relationship-follower col-sm-2">
        <p>フォロワー</p>
        <p><%= user.followers.count %>人</p>
      </div>
      <div class="my-relation-right col-sm-6">
        <div class="follow-dm-feature">
        </div>
      </div>
    </div>
    <div class="my-introduction mt-4 p-5">
      <p>自己紹介</p>
      <p><%= user.introduction %></p>
    </div>
  </div>
  <div class="profile-right"></div>
</div>
<%= link_to "通知一覧", users_notifications_path, local: true %>
<%= link_to "編集する", edit_admins_user_path(user), local: true %>

