<div class="profile-header row">
  <div class="col-sm-1"></div>
  <div class="profile-image text-center col-sm-1">
   <% if user.image.attached? %>
      <%= image_tag user.image.variant(resize:"100x100"), class:"image-radius" %>
    <% else %>
      <%= image_tag "noimage.png", size: "100x100", class:"image-radius" %>
    <% end %>
  </div>
  <div class="profile-name col-sm-4 d-flex align-items-center ms-5 row">
    <p class="fs-2"><%= user.name %></p>
    <% if current_user.id == user.id %>
      <p class="fs-5"><%= user.email %></p>
    <% end %>
  </div>
</div>
<div class="profile-main">
  <div class="profile-left pt-5 pb-5">
    <div class="my-relationship p-3">
      <div class="col-sm-1"></div>
      <div class="my-relationship-follow col-sm-2">
        <p >フォロー中</p>
        <p><%= user.followings.count %>人</p>
      </div>
      <div class="col-sm-1"></div>
      <div class="my-relationship-follower col-sm-2">
        <p>フォロワー</p>
        <p><%= user.followers.count %>人</p>
      </div>
      <div class="my-relation-right col-sm-6">
        <div class="follow-dm-feature">
          <% if current_user.id != user.id %>
            <div class="follow-btn text-center">
                <% if current_user.following?(user) %>
                  <%= form_with url: users_relationship_path(Relationship.where(user_id: current_user, follow_id: user.id).pluck("id").slice(0)), method: :delete, local: true do |f| %>
                    <%= f.submit "フォローを解除する", class: "btn btn-outline-danger mb-4" %>
                  <% end %>
                <% else %>
                  <%= form_with model: relationship, url: users_relationships_path(follow_id: user.id), local: true do |f| %>
                    <%= f.submit "       フォローする      ", class: "btn btn-outline-info" %>
                  <% end %>
              　<% end %>
            </div>
            <div class="text-center">
              <%= form_with model: @dmroom, url: users_dmrooms_path, local: true do |f| %>
                <%= f.hidden_field :user_id, value: user.id %>
                <%= f.submit "  チャットを始める  ", class: "btn btn-outline-primary text-center mb-0" %>
              <% end %>
            </div>
          <% else %>
            <div class="my-edit text-center pt-3">
              <p><%= link_to "    　 編集する   　 ", edit_user_path(current_user), class: "btn btn-outline-secondary" %></p>
              <p><%= link_to " スケジュール  ", users_schedules_path(current_user), class: "btn btn-outline-primary" %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="my-introduction mt-4 p-5">
      <p>自己紹介</p>
      <p><%= user.introduction %></p>
    </div>
  </div>
  <div class="profile-right"></div>
</div>
