<div class="about-header">
  <P class="fs-3 text-center mt-2">このアプリの使い方</P>
</div>
<div class="about-main">
  <div class="about-content p-3">
    <p>
      アプリの概要<br>
      自分の練習したい時間、業種がマッチングした相手と、面接練習をすることができます。<br>
      条件に合う部屋を作成、もしくは参加し、練習相手とZOOMを使い練習します。<br>
      練習が終わったら、部屋を退出し、相手を評価しましょう。
    </p>
  </div>
  <div class="about-content p-5 mt-5">
      <div class="about-content2">
        面接練習の手順<br>
        ①新規登録をする。<br>
        （ZOOMの登録も済ませておきましょう。無料で使え、3分ほどで登録できます。）<br>
        <%= image_tag "新規登録ボタン.png", size: "400x400" %><%= image_tag "新規登録画面.png", size: "400x400" %><br>
        ②部屋一覧から、自分の条件と合う部屋に参加する。※部屋には作成者と参加した二人のみ入れます。<br>
       （部屋が見つからない場合、部屋を作成（タイトル、時間、業種、詳細）し、部屋に参加者が現れるまで待ちましょう）<br>
        <%= image_tag "部屋一覧.png", size: "350x300", class:"me-3" %><%= image_tag "部屋新規作成.png", size: "350x300", class:"me-3" %><%= image_tag "部屋入室.png", size: "350x300" %><br>
      </div>

      <div class="about-content2">
        <div class="about-content2-left">
          ③部屋に二人そろうとチャット画面に移動するので、練習する日時とZOOMのURLのやり取りをしましょう。<br>
          ④一方の方がZOOMで部屋を作成し、リンクURLをチャットで送り、練習を始めましょう。<br>
          　(スマートフォンの場合、ZOOMのアプリをダウンロードしましょう）<br>
          ⑤練習が終わったら、「面接練習を終了する」を押し、相手の評価画面に移動し、評価しましょう。<br>
          ⑥相手を評価し終えたら、部屋を退出するボタンを押し、練習は終了です。
        </div>
        <div class="about-content2-right">
          <%= image_tag "面接終了ボタン.png", size: "400x400" %><br>
        </div>
      </div>
  </div>