<div class="about-header">
  <P class="fs-3 text-center mt-2">このアプリの使い方</P>
</div>
<div class="about-main">
  <div class="about-content p-3">
    <p>
      アプリの概要<br>
      自分の練習したい時間、業種がマッチングした相手と、面接練習をすることができます。<br>
      条件に合う部屋を作成、もしくは参加し、練習相手とズームを使い練習します。<br>
      練習が終わったら、部屋を退出し、相手を評価しましょう。
    </p>
  </div>
  <div class="about-content  p-3 mt-5">
    <p>
      面接練習の手順<br>
      ①新規登録をする。 <%= image_tag "新規登録ボタン.png", size: "100x100", class:"image-radius" %><%= image_tag "新規登録画面.png", size: "100x100", class:"image-radius" %><br>
      ②部屋一覧から、自分の条件と合う部屋に参加する。※部屋には作成者と参加した二人のみ入れます。<%= image_tag "部屋一覧.png", size: "100x100", class:"image-radius" %><%= image_tag "部屋新規作成.png", size: "100x100", class:"image-radius" %><%= image_tag "部屋入室.png", size: "100x100", class:"image-radius" %><br>
      （部屋が見つからない場合、部屋を作成（タイトル、時間、業種、詳細）し、部屋に参加者が現れるまで待ちましょう）。<br>
      ③部屋に二人そろうとチャット画面に移動するので、練習する日時とzoomのurlのやり取りをしましょう。。<br>
      ③一方の方がzoomで部屋を作成し、リンクurlをチャットで送り、練習を始めましょう。。<br>
      ⑤練習が終わったら、「はやを退出し、相手を評価する」を押し、相手の評価画面に移動し、評価しましょう。。<br>
      ⑥相手を評価し終えたら、部屋を退出するボタンを押し、練習は終了です。
    </p>
  </div>