<div class="main-view row ">
  <div class="col-lg-2"></div>
  <div class="main-view-left col-lg-5 ps-5 mt-3">
    <h1 class="heading">気軽に面接練習しませんか？</h1>
    <p>面接が苦手？このアプリを使えば、面接相手をマッチングできます。<br>時間・業種は選択できます。一緒に面接で成功しよう。</p>
    <%= link_to "新規登録はこちら", new_user_registration_path, class: "btn btn-outline-info btn-lg heading-btn mt-2" %>
    <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "btn btn-outline-secondary btn-lg heading-btn mt-2" %>
  </div>
  <div class="main-view-right col-lg-4">
    <div class="text-center pb-5"><%= image_tag "touka.png", size: "500x350", class: "pb-5" %></div>
  </div>
  <div class="col-lg-1"></div>
</div>
<div class="main-view-under row pt-5">
  <div class="col-lg-1"></div>
  <div class="main-view-under-left col-lg-3">
    <div class="mb-3">
    <%= render "admins/tag_list", tags: @tags %>
    </div>
  </div>
  <div class="main-view-under-right room-lists d-flex align-items-center flex-column col-lg-7">
    <p class="fs-4">新着ルーム</p>
    <%= render "users/rooms/list", rooms: @rooms  %>
  </div>
  <div class="col-lg-1"></div>
</div>


<div class="home-background">
  <div class="home-content">
    <h5 class="home-heading fw-bold text-center">苦手を武器に。面接でライバルに差を付けよう！</h5>
    <div class="home-section">
      <p class="fw-bold text-center mt-3">気軽に面接練習ができる</p>
      <div class="home-img text-center">
        <%= image_tag "home-1.png", size: "300x250", class: "pb-5" %>
      </div>
      <dIv class="home-p">
        <p>ユーザーログインから部屋を作成するまで、5分もかかりません。自分の条件に合う部屋があれば、より短い時間で練習を始めることができます。</p>
      </dIv>
    </div>
    <div class="home-section">
      <p class="fw-bold text-center">条件に合う相手が見つかる</p>
      <div class="home-img text-center">
        <%= image_tag "home-2.png", size: "300x250", class: "pb-5" %>
      </div>
      <dIv class="home-p">
        <p>部屋にタグを付けることで、細かい条件を指定できます。「顔出し」「時間」「業界」様々な条件を付けることで、最適な練習相手を探すことができます。</p>
      </div>
    </div>
    <div class="home-section">
      <p class="fw-bold text-center">ZOOMを使った練習ができる。</p>
      <div class="home-img text-center">
        <%= image_tag "home-3.png", size: "300x250", class: "pb-5" %>
      </div>
      <dIv class="home-p">
        <p>リモートワークなど働き方が変化している昨今、面接にもその影響が表れています。面接本番と同じ環境で練習ができます。</p>
      </div>
    </div>
  </div>
</div>
