<div class="room-detail row">
  <div class="room-detail-left col-lg-3 text-center">
    <% if @user.image.attached? %>
      <%= image_tag @user.image.variant(resize:"150x150"), class:"image-radius" %><br>
    <% else %>
      <%= image_tag "noimage.png", size: "150x150", class:"image-radius" %><br>
    <% end %>
    <p><%= link_to "#{@user.name}", user_path(@user), class: "text-decoration-none" %></p>
    <div class="row">
      <div class="col">
        <p>フォロー</p>
        <p><%= @user.followings.count %>人</p>
      </div>
      <div class="col">
        <p>フォロワー</p>
        <p><%= @user.followers.count %>人</p>
      </div>
    </div>
    <% if @user != current_user %>
      <%= form_with url: users_dmrooms_path, local: true do |f| %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.submit "  チャットを始める  ", class: "btn btn-outline-primary text-center mb-0 mt-3" %>
      <% end %>
    <% end %>
     <div class="p-2 room-introduction">
      <p>自己紹介</p>
      <p><%= @user.introduction %></p>
    </div>
  </div>
  <div class="col-lg-1"></div>
  <div class="room-detail-right p-5 col-lg-8">
    <h2><%= room.title %></h2>
    <p>
      <% room.tags.each do |tag| %>
      <%= link_to "##{tag.name}",  root_path, class: "tag_list" %>
      <% end %>
    </p>
    <p class="room-content mb-5"><%= room.content %></p>
    <p class="room-detail-btn">
    <% if room.user_id == current_user.id %>
      <%= link_to "ルームを削除する", users_room_path(room), class: "btn btn-outline-danger", method: :delete, local: true %>
    <% else %>
      <%= link_to "ルームに入室する", users_user_rooms_path(user_id: current_user.id,room_id: room.id), class: "btn btn-outline-info", method: :post, local: true %>

    <% end %>
    </p>
  </div>
</div>
