<% @rooms.each do |room| %>
  <div class="room-list mb-3 row">
    <div class="room_list-left col-5">
      <% if room.user.image.attached? %>
        <%= image_tag room.user.image.variant(resize:"100x100") %>
      <% else %>
        <%= image_tag "Nophoto.jpg", size: "100x100" %>
      <% end %>
    </div>
    <div class="room_list-right col-5 text-center mt-2">
      <%= link_to "#{room.user.name}",  user_path(room.user) %>
      <div>
        <span class="tag-color"><%= room.time_tag.span %></span>
        <span class="tag-color"><%= room.ocuupation_tag.name %></span>
        <div><%= link_to "#{ room.title}", users_room_path(room), class: "fs-5" %></div>
      </div>
    </div>
  </div>
<% end %>
<%= paginate @rooms %>