<p>ルーム一覧</p>
<% @rooms.each do |room| %>
  <div class="room_list">
    <div><%= room.user.name %></div>
    <div>
      <%= room.time_tag.span %>
      <%= room.ocuupation_tag.name %>
    </div>
    <div><%= room.title %></div>
    <%= link_to "ルーム詳細", users_rooms_path %>
  </div>
<% end %>
<%= paginate @rooms %>
