 <div class="room-new-back">
   <div class="room-new card">
     <%= form_with model: @room,url: users_rooms_path, local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
       <div class="field">
         <%= f.label :title, "ルーム名" %><br>
         <%= f.text_field :title, class: "form-control", size: 10, placeholder: "IT企業！未経験" %>
       </div>

       <div class="field">
         <%= f.label :name, "タグ" %><br>
         <%= f.text_field :name, class: "form-control", size: 10 %>
        <p>#を入力することで複数のタグを付けることができます。</p>
        <p>例：#IT #5分だけ #ZOOM希望</p>
       </div>

     　<div class="field">
         <%= f.label :content, "ルーム説明"%><br>
         <%= f.text_area :content, class: "form-control" %>
       </div>
      <%= f.submit "ルーム作成", class: "btn btn-success mt-3" %>
    <% end %>
   </div>
 </div>