<!DOCTYPE html>
<html>
  <head>
    <title>InterviewMatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class=" py-3 border-bottom">
      <%= render "layouts/header" %>
    </header>

    <main>
      <div class="container ">
        <%= flash[:notice] %>
        <%= yield %>
      </div>
    </main>
    <footer class=" py-3 mb-4 border-top footer">
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
